<?xml version="1.0" encoding="UTF-8"?>
<com.openpanel.opencore.module>
	<name>WebApps.module</name>
	<uuid>cf2fc559-542c-4185-ab51-76170a28a6a3</uuid>
	<version>1.0</version>
	<license>GPLv3</license>
	<author>Karl White</author>
	<url>http://www.charisma-studios.com</url>
	<languages en_EN=""/>
	<implementation>
		<apitype>commandline</apitype>
		<getconfig>false</getconfig>
		<wantsrpc>true</wantsrpc>
	</implementation>
	<classes>
		<class id="WebApps">
			<uuid>58c8d270-5841-4344-8502-7bdfda17ed1b</uuid>
			<version>3</version>
			<indexing>auto</indexing>
			<requires>Domain:Vhost</requires>
			<shortname>WebApps</shortname>
			<description>WebApps Installation</description>
			<emptytext>No webapps have been installed</emptytext>
			<title>WebApps</title>
			<uniquein>class</uniquein>
			<allchildren>true</allchildren>
			<capabilities create="true" delete="true"/>
			<parameters>
				<p id="name" enabled="true" visible="true" required="true" type="string" regexp="^[a-zA-Z0-9 ]*$" gridwidth="10">Name</p>
				<p id="model" enabled="false" visible="true" required="true" type="enum" default="WordPress" gridwidth="10">Application</p>
				<p id="password" enabled="true" visible="false" required="true" type="password" gridhide="true">Database Password</p>
				<p id="password2" enabled="true" visible="false" required="true" type="password" gridhide="true">Repeat Password</p>
				<p id="email" enabled="true" visible="true" required="true" type="string" example="webmaster@example.net">Admin Email</p>
			</parameters>
		</class>
	</classes>
	<enums>
		<enum id="model">
			<value id="WordPress" val="WordPress">Wordpress (latest)</value>
			<value id="WordPress-3.1" val="WordPress-3.1">Wordpress (3.1)</value>
			<value id="Joomla-1.5.22" val="Joomla-1.5.22">Joomla (1.5.22)</value>
			<value id="Drupal" val="Drupal">Drupal (not yet supported)</value>
			<value id="phpMyAdmin-3.3.10" val="phpMyAdmin-3.3.10">phpMyAdmin (3.3.10)</value>
		</enum>
	</enums>
	<authdops>
		<fileops>
			<fileop pattern="*.webapps" user="root" group="root" perms="0755">/etc/webapps</fileop>
			<fileop pattern="*" user="root" group="root" perms="0755">*</fileop>
		</fileops>
		<scripts>
			<script id="install-folder-contents"/>
		</scripts>
	</authdops>
</com.openpanel.opencore.module>
