<?xml version="1.0" encoding="UTF-8"?>
<com.openpanel.opencore.module>
	<name>WebApps.module</name>
	<uuid>cf2fc559-542c-4185-ab51-76170a28a6a3</uuid>
	<version>1.0</version>
	<license>GPLv3</license>
	<author>Karl White</author>
	<url>http://www.charisma-studios.com</url>
	<requires>User.module</requires>
	<languages en_EN=""/>
	<implementation>
		<apitype>commandline</apitype>
		<getconfig>false</getconfig>
		<wantsrpc>true</wantsrpc>
	</implementation>
	<classes>
		<class id="Meta:WebApps">
			<uuid>9b4ff04c-e850-489a-a13d-48e486d01063</uuid>
			<version>1.1</version>
			<indexing>manual</indexing>
			<requires>Domain:Vhost</requires>
			<shortname>WebApps</shortname>
			<description>WebApps Installation</description>
			<emptytext>WebApps are popular web applications that can be automatically downloaded, installed and configured for this website. Use the buttons below to get started.</emptytext>
			<title>WebApps</title>
			<metatype>base</metatype>
			<parameters>
				<p id="type" enabled="true" visible="true" required="true" type="string" gridwidth="30">Installed WebApps</p>
				<p id="id" enabled="true" visible="true" required="true" type="string" gridwidth="25">Path</p>
				<p id="description" enabled="true" visible="true" required="true" type="string" gridwidth="45">Information</p>
			</parameters>
		</class>
		<class id="WebApps:WordPress">
			<uuid>58c8d270-5841-4344-8502-7bdfda17ed1b</uuid>
			<version>1.0</version>
			<indexing>manual</indexing>
			<requires>Domain:Vhost</requires>
			<uniquein>class</uniquein>
			<shortname>WordPress</shortname>
			<title>WordPress</title>
			<description>WordPress v3.1 Installation and Configuration</description>
			<capabilities create="true" delete="true"/>
			<metatype>derived</metatype>
			<metabase>Meta:WebApps</metabase>
			<metadescription>$name</metadescription>
			<maxinstances>1</maxinstances>
			<parameters>
				<p id="wp-model" enabled="false" visible="true" required="true" type="enum" default="WordPress" gridwidth="10">Version</p>
				<p id="name" enabled="true" visible="true" required="true" type="string" regexp="^[a-zA-Z0-9 ]*$" gridwidth="10">Site Title</p>
				<p id="id" enabled="true" visible="true" required="false" type="string" regexp="^/[a-zA-Z0-9-/]*/$" default="/" example="/" gridwidth="10">Sub-folder (/ for root)</p>
				<p id="password" enabled="true" visible="false" required="true" type="password" gridhide="true">Database Password</p>
				<p id="password2" enabled="true" visible="false" required="true" type="password" gridhide="true">Repeat Password</p>
				<p id="email" enabled="true" visible="true" required="true" type="string" example="webmaster@example.net" regexp=".+@.+">Admin Email</p>
			</parameters>
		</class>
		<class id="WebApps:Joomla">
			<uuid>8d86d8b5-2288-4fcf-b033-c5db86a222d8</uuid>
			<version>1.0</version>
			<indexing>manual</indexing>
			<requires>Domain:Vhost</requires>
			<uniquein>class</uniquein>
			<shortname>Joomla</shortname>
			<title>Joomla</title>
			<description>Joomla v1.5.22 Installation and Configuration</description>
			<capabilities create="true" delete="true"/>
			<metatype>derived</metatype>
			<metabase>Meta:WebApps</metabase>
			<metadescription>$name</metadescription>
			<maxinstances>1</maxinstances>
			<parameters>
				<p id="jm-model" enabled="false" visible="true" required="true" type="enum" default="Joomla-1.5.22" gridwidth="10">Version</p>
				<p id="name" enabled="true" visible="true" required="true" type="string" regexp="^[a-zA-Z0-9 ]*$" gridwidth="10">Site Title</p>
				<p id="id" enabled="true" visible="true" required="false" type="string" regexp="^/[a-zA-Z0-9-/]*/$" default="/" example="/" gridwidth="10">Sub-folder (/ for root)</p>
				<p id="password" enabled="true" visible="false" required="true" type="password" gridhide="true">Database Password</p>
				<p id="password2" enabled="true" visible="false" required="true" type="password" gridhide="true">Repeat Password</p>
				<p id="email" enabled="true" visible="true" required="true" type="string" example="webmaster@example.net" regexp=".+@.+">Admin Email</p>
			</parameters>
		</class>
		<class id="WebApps:phpMyAdmin">
			<uuid>bb92020e-d714-415b-a0cd-0ff71ada1a01</uuid>
			<version>1.0</version>
			<indexing>manual</indexing>
			<requires>Domain:Vhost</requires>
			<uniquein>class</uniquein>
			<shortname>phpMyAdmin</shortname>
			<title>phpMyAdmin</title>
			<description>phpMyAdmin v3.3.10 Installation and Configuration</description>
			<capabilities create="true" delete="true"/>
			<metatype>derived</metatype>
			<metabase>Meta:WebApps</metabase>
			<metadescription>$pm-model</metadescription>
			<maxinstances>1</maxinstances>
			<parameters>
				<p id="pm-model" enabled="false" visible="true" required="true" type="enum" default="phpMyAdmin-3.3.10" gridwidth="10">Version</p>
				<p id="id" enabled="true" visible="true" required="false" type="string" regexp="^/[a-zA-Z0-9-/]*/$" default="/phpMyAdmin/" example="/phpMyAdmin/" gridwidth="10">Sub-folder (/ for root)</p>
			</parameters>
		</class>
		<class id="WebApps:phpBB">
			<uuid>1ef1435f-e84b-43fa-9632-7be9f5f41e6f</uuid>
			<version>1.0</version>
			<indexing>manual</indexing>
			<requires>Domain:Vhost</requires>
			<uniquein>class</uniquein>
			<shortname>phpBB</shortname>
			<title>phpBB</title>
			<description>phpBB v3.0.8 Installation and Configuration</description>
			<capabilities create="true" delete="true"/>
			<metatype>derived</metatype>
			<metabase>Meta:WebApps</metabase>
			<metadescription>$bb-model</metadescription>
			<maxinstances>1</maxinstances>
			<parameters>
				<p id="bb-model" enabled="false" visible="true" required="true" type="enum" default="phpBB-3.0.8" gridwidth="10">Version</p>
				<p id="id" enabled="true" visible="true" required="false" type="string" regexp="^/[a-zA-Z0-9-/]*/$" default="/phpBB/" example="/phpBB/" gridwidth="10">Sub-folder (/ for root)</p>
				<p id="password" enabled="true" visible="false" required="true" type="password" gridhide="true">Database Password</p>
				<p id="password2" enabled="true" visible="false" required="true" type="password" gridhide="true">Repeat Password</p>
			</parameters>
		</class>
	</classes>
	<enums>
		<enum id="wp-model">
			<value id="WordPress" val="WordPress">Wordpress (latest)</value>
			<value id="WordPress-3.1" val="WordPress-3.1">Wordpress (3.1)</value>
		</enum>
		<enum id="jm-model">
			<value id="Joomla-1.5.22" val="Joomla-1.5.22">Joomla (1.5.22)</value>
		</enum>
		<enum id="pm-model">
			<value id="phpMyAdmin-3.3.10" val="phpMyAdmin-3.3.10">phpMyAdmin (3.3.10)</value>
		</enum>
		<enum id="bb-model">
			<value id="phpBB-3.0.8" val="phpBB-3.0.8">phpBB (3.0.8)</value>
		</enum>
	</enums>
	<authdops>
		<fileops>
			<fileop pattern="*.webapps" user="root" group="root" perms="0755">/etc/webapps</fileop>
			<fileop pattern="*" user="root" group="root" perms="0755">*</fileop>
		</fileops>
		<scripts>
			<script id="install-folder-contents"/>
		</scripts>
	</authdops>
</com.openpanel.opencore.module>
